body {
  background-image: url("./assets/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "JetBrains Mono", sans-serif; }
* {
  font-family: "Roboto Mono Medium", sans-serif;
}
